# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage
test-results
src/redux/mockupStore.js

# production
build
commander-cloud-webclient.image
*.tar

# misc
.DS_Store
.env*.local
npm-debug.log
*.swp
.vscode/settings.json

# sonar
.scannerwork
